html,
body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth !important;
}
.text-footer{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
@supports(animation-range: 0vh 90vh) {
    @keyframes sticky-parallax-header-move-and-size {
        from {
            background-position: 50% 0;
        }

        to {
            z-index: 999;
            background-color: #0b1584;
            /* height: 10vh; */
            font-size: 1.25em;
            background: #03071245;
            /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
        }
    }

    #sticky-parallax-header {
        animation: sticky-parallax-header-move-and-size linear forwards;
        animation-timeline: scroll();
        animation-range: 0vh 90vh;
    }
}
